@font-face {
    font-family: 'icones';
    src: url(../font/icones.ttf);
}

body{
    background-color:#1D232A ;
    font-family: 'Opens Sans','icones',sans-serif;
    color: #FFFFFF;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 8px 16px;
    background-color:#15191C ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

.cabecalho-menu i::before{
    content: "\e904";
    font-size: 24px;
}

.cabecalho-notificacao i::before{
    content: "\e906";
    font-size: 24px;
}
.cabecalho-logo{
    width: 40px;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #15191c;
    width: 75vw;
    height: 100vh;
}

.logo-lateral{
    width: 118px;
    align-self: center;
    padding: 16px;
}

.menu-lateral-link{
    height: 64px;
    color:#95999C;
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.menu-lateral-link::before{
    content: "";
    font-size:24px ;
    width: 24px;
    height: 24px;
    position: absolute;
    left: 24px;
}

.menu-lateral-link--inicio::before{
    content: "\e902";
}

.menu-lateral-link--videos::before{
    content: "\e90e";
}

.menu-lateral-link--picos::before{
    content: "\e909";
}

.menu-lateral-link--integrantes::before{
    content: "\e903";
}

.menu-lateral-link--camisas::before{
    content: "\e900";
}

.menu-lateral-link--pinturas::before{
    content: "\e90a";
}